*{ margin: 0; box-sizing: border-box;}

.row {
    display: flex;
    flex-flow: row wrap;
    margin: 0 0;}

    .row1 {
      display: flex;
      flex-flow: row wrap;
      margin: 0 0;}
  
.row [class^=col] {
    flex: 1 0 auto;}
  
  .row .col-3 {
    flex-basis: 25%;
    max-width: 25%;}
  
  /* .row .col-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  } */
  
.col-4{
      flex: 1 0 33.33%;
      height: auto;
      border: 3px solid #666;
      margin: 0 5px; 
      padding: 5px 5px;
      background-image: linear-gradient( 135deg, rgba(255, 0, 0, .6), rgba(0, 255, 0, .6));}
  
  .row .col-6 {
    flex-basis: 50%;
    max-width: 50%;}
  
  .row .col-7{
      flex-basis: 58.33%;
      max-width: 58.33%;}
  
  .row .col-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;}
  
  .row .col-12 {
    flex-basis: 100%;
    max-width: 100%;}

  .col-12-1{
      flex: 1 0 100%;
      max-width: 100%;
      height: auto;
      padding: 5px 5px;
      border: 3px solid #666;
      background-image: linear-gradient( 135deg, rgba(255, 0, 0, .6), rgba(0, 255, 0, .6));}

.container
    {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    color: white;
    position: relative;
    max-width: 1200px;
    background-image:url(./Weather-pix/Sunny_bright.jpg);        
    background-repeat: no-repeat; background-size:cover; z-index: 3;}
  
    h1 {font-size: 42px; background: rgba(0, 128, 128, 0.4); text-align: center;}

    h2 span{font-size: 44px;}

    /*Current City's Temp*/
    .current
    { display: none;
      line-height: 36px;
      padding: 3px 3px;
      text-align: center;
      font-size: 32px;
      border-radius: 5px;
      background-color: lightblue;
      box-shadow: 3px 3px 3px 3px rgb(161, 161, 228) inset;
      text-shadow: 3px 3px 3px goldenrod;
      color: tomato;}

      .cAQI
      {display: none;
        line-height: 36px;
        padding: 3px 3px;
        text-align: center;
        font-size: 32px;
        border-radius: 5px;
        background-color: lightblue;
        box-shadow: 3px 3px 3px 3px rgb(161, 161, 228) inset;
        text-shadow: 3px 3px 3px goldenrod;
        color: tomato;}
      
    .err2
    {display: none;
      line-height: 36px;
      font-size: 32px;
      border-radius: 10px;
      padding: 7px 7px;
      text-align: center;
      background-color: lightblue;
      box-shadow: 6px 6px 6px 6px #00008b inset;
      text-shadow: 3px 3px 3px goldenrod;
      color: tomato; margin-left: 182px; }
          
    image{vertical-align: bottom;}
  
  .wrap-1 .row span{font-size: 28px;}

input {
  width: 100%;
  font-size: 30px;
  font-weight: 300;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #DF8E00;
  text-align: center;
  color: #313131;
  transition: 0.2s ease-out;
}
input:hover{ background: #313131; color: rgba(0, 250, 250, 0.3); }


    .Search {margin: 100px 50px;
      width: 600px;
      position: relative; }

    .C{font-size: 28px; color: maroon}

    .cLocation{font-size: 30px; display: inline-block; background-color: darkolivegreen; color: burlywood; margin-top: 5px}
          
    .wrap-2 .Search .C{position: relative;}

    .Search .C button{line-height: 32px;
        padding: 6px 2px;
        text-align: center;
        font-size: 25px;
        background-color: lightblue;
        border: none;
        background: transparent;
        text-shadow: 3px 3px 3px rgb(167, 128, 29);
        color: maroon;
        margin-left: -75px;
        position: absolute;}

    label::first-letter{color: blue;}
    .fa{position:absolute;}

    /* Search's layout*/
    .flex{ display: flex; flex-flow: row wrap;}
    .half1{ flex: 1 0 50%; max-width: 100%; padding: 10px; text-align: left}
    .half2{ flex: 1 0 50%; max-width: 100%; padding: 10px; text-align: right;}
    .center{padding: 10px; text-align: left;}

    .wrap-3{
      background-color: rgba(0, 128, 128, 0.4);
    }
    .wrap-3 footer p{
      text-align: center;
      color: goldenrod;
      padding: 40px 0 20px;
      font-size: 22px;
      line-height: 30px;}

      .btn{width: auto;
        height: 30px;
        background: brown;
        color:  cornsilk;
        border-radius: 5px;
        text-align: center;
        padding: 3px 6px;
        margin: 5px 5px;
        display: inline-block;
        vertical-align: bottom;}
    .btn:hover{ background: #ccc; color: brown; }
    .top{ position: fixed; right: 5px; bottom: 5px;}

    @media screen  and (max-width:1220px){       
        h2{ font-size: 60px;}
    }
  
    @media screen  and (max-width:980px){   
         h2{ font-size: 22px;}   
        .row .col-t-6{flex-basis: 50%;max-width: 50%;}
        .row .col-t-12{flex-basis: 100%;max-width: 100%;}
        .row .col-t-hide{ display: none; }
        .row .col-t-auto{ flex-basis: 20%; max-width: 20%;}
    }

    @media screen  and (max-width:767px){       
        .wrap-1 .row span{font-size: 18px; }

        .wrap-1 .row .cLocation i{font-size: 18px;}
   
        h2 span{ font-size: 36px;}
    }

    @media screen  and (max-width:460px)
    { 
      h1 { font-size: 36px;}
      h2 span{ font-size: 32px;}
      .row .col-p-4{flex-basis: 33.33%; max-width: 33.33%;}
      .row .col-p-6{flex-basis: 50%; max-width: 50%;}
      .row .col-p-12{flex-basis: 100%; max-width: 100%; margin: 5px 0px;}
      .row1 .col-p-12{flex-basis: 100%; max-width: 100%; margin: 5px 0px;}
    
      .wrap-2 .row .Search
      {
        margin-top: 0px;
        margin-right: 0;
        margin-bottom: 0px;
        margin-left: 0px;
        width: auto;
      }
        
    .err2
    {
      line-height: 18px;
      font-size: 14px;
padding: 2px 2px;
border-radius: 2px;
box-shadow: 2px 2px 2px 2px darkblue inset;
text-shadow: 2px 2px 2px goldenrod;
margin-left: 3px;}

.C {font-size: 18px;}

.Search .C input{
  width: 50%;
  font-size: 20px;
  font-weight: 200;
  position: relative;}          
        
.cLocation{
  font-size: 19px;}

.Search .C button
{
  line-height: 22px;
  font-size: 20px;
  padding: 2px 2px;
  text-align: left;
            right: 25px;
            bottom: -3px;}

.Search .C span{line-height: 22px;
                padding: 2px 2px;
                text-align: left;
                font-size: 18px;
                background-color: lightblue;
                border: none;
                background: transparent;
                text-shadow: 3px 3px 3px rgb(167, 128, 29);
                color: maroon;
                position: absolute;
                right: 10px;
                bottom: 66px;}
    }
